/*
Author: [Zyguel Philip E. Cabogoy]
Student Code: [J-3]
*/

.side-bar {
    margin-top: -20px;
    float: left;
    border-style: double;
    padding: 0px 0px 90% 20px;
    width:25%;
    margin-left:-30px;
    margin-right:5px;
    display: inline-block;
    background-color: rgb(37, 55, 113);
    height: 100%;
}
.profile-pic{
  height: auto;
  max-width: 100%;
 display: block;
  margin-left: auto;
  margin-right: auto;
 border-radius: 75px;
    margin-top: 25px;
   resize: both;
  min-width: fit-content;
  min-height: fit-content;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   /* max-width:max-content;*/
    background-color: rgb(37, 55, 113);
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    
  }
  
 
  li a:hover {
    background-color: #555;
    color: yellow;
   
  }

  .myname{
    text-align: center;
    color:aliceblue;
  }
  .image-usc{
    display: inline-block;
   /* float: right;*/
    gap:0;
    width: 75%;
    max-width: fit-content;
    padding: 0px -15px 20px 0px;
    margin-right:-25px;
    margin-top: -20px;
  }
  .comp{
    font-weight: bold;
    color: rgb(19, 198, 19);
  }
  .content{
    padding-bottom: 0%;
    font-size: larger;
    text-align: center;
  }
  mark {
    background-color: white;
  }
  h2 {
    margin-top: 100px;
    margin-left: 50px;
    margin-left: auto;
    padding-left: 50px;
    margin-bottom: 100px;
  }
  .row {
    display: flex;
    margin-top: -4px
  }
  
  .column {
    flex: 33.33%;
    padding: 0px;
   
  }
  .footer {
    display:grid;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: left;
  }